/*
 *
 *   style variables
 *
*/
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*
 * typography fonts
 */
@ubuntu: 'Ubuntu', sans-serif;
@lato: 'Lato', sans-serif;
@raleway: 'Raleway', sans-serif;

/*
 * gray colors
 */
@background-gray: #FAFAFA;

/*
 * general colors
 */
 @purple: #AB47BC;           // Accent / Action
 @pink: #F06292;             // Execution
 @green: #68BD62;            // Success
 @orange: #FF8C00;           // Warning
 @blue: #2196F3;             // New
 @red: #EF5350;              // Danger
 @black: #666667;            // Black color
 @blackest: #202020;         // Blackest color
 @brown: #A1887F;            // Fixed / Approved
 @flat: #606060;             // Flat / Idle
